footer {
    display: inline-block;
    background-color: black;
    width: 100%;
}

.footer_information {
    font-family: 'Kanit', sans-serif;
    color: white;

}
ul{
    list-style: none;
}
.footer_information_item{

    font-size: 0.6em;
    color: white;
    text-decoration: none;
}